.flex-container{
    display:flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content:space-around ;
    align-items:center ;

    height:80px ;
    background-color:pink ;
}
.box {
    background-color: white;
    border: 2px solid palevioletred;
    border-radius: 0.5px;
    color: black;
    padding: 0.5px;
}
.texto{
    background-color: palevioletred;
    color: black;

}
.flex-container a {
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}